body {
    font-family: Arcade Classic, ByteBounce;
    background-color: aliceblue;
    margin : 0;
    padding : 0;
}

header {
    background-color: #3BB9FF;
    color : black
    padding: 1rem;
    text-align: center;
}

main {
    max-width: 600px;
    margin: 2rem auto;
    padding: 1rem;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

ul { 
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #f9f9f9;
    margin: 0.5rem 0;
    padding: 0.5rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ddd;
}

input [type="text"] {
    width: 75%;
    padding: 0.5rem;
    margin-right: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    padding: 0.5rem 1rem;
    background-color: #3BB9FF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #3399FF;
}

button.delete {
    background-color: #FF6B6B;
    border: none;
    color: white;
    padding: 0.3rem 0.6rem;
    border-radius: 5px;
    cursor: pointer;
}

button.delete:hover {
    background-color: #FF4C4C;
}